
* {
  box-sizing: border-box;
}
/* menu*/
header ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header ul li {
  list-style: none;
}
header ul a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  opacity: 0.6;
  transition: all.3s ease-in;
}
header ul a:hover {
  text-shadow: 0 0 5px #0d6efd, 0 0 10px #0d6efd, 0 0 15px #0d6efd,
    0 0 20px #0d6efd, 0 0 25px #0d6efd;
  opacity: 1;
}
.book {
  opacity: 1;
}

#hero .img-fluid {
  max-height: 450px;
}
#hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}
.glass {
  background: rgba(247, 240, 240, 0.2); /* Semi-transparent background */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect for the glassmorphism look */
  padding: 20px; /* Add some padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
}
.hero-video {
  width: 100%;
  border-radius: 20px;
}
.main-icon i {
  color: gold;
}
.main-text::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #c0c0c0;
  position: absolute;
  left: 0;
  top: 0;
}
.swip-hero img {
  position: relative;
}
.swip-hero img:hover {
  cursor: pointer;
}
.swip-hero .icons {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.swip-hero .icons i {
  color: aquamarine;
  font-size: 1.1rem;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swip-hero:hover .swip-hero .icons {
  transform: translate(50%, 50%);
  backdrop-filter: blur(20px);
}
/* FREE GUIDE */

.free-guide.display {

  display: none;
}
.free-guide input {
  width: 70%;
}
.free-guide input::placeholder {
  color: gray; 
  font-style: italic; /
}
/* MANUAL SLIDER */

.slider {
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.4) 10% 90%,
    transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
.slider .list .item img {
  width: 100%;
}


/* ABOUT PAGE */
#page-header.about-header{
  background-image: url();
 }

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

#services .card-img-top {
  object-fit: cover;
}
.card {
  overflow: hidden;
  transition: 0.3s;
}
#services .card img {
  transition: 0.3s;
}
#services .card:hover img {
  transform: scale(1.1);

  cursor: pointer;
}
#services .card .card-body {
  height: 0;

  transition: 0.3s all;
}
#services .card:hover .card-body {
  height: inherit;
}
#services .card p {
  opacity: 0;
  transition: 0.3s;
}
#services .card:hover p {
  opacity: 1;
}
.card-img {
  aspect-ratio: 3/2;
  transform: scale(1.3);
  object-fit: cover;
}
/* PORTFOLIO */


.testimonial {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}
.swiperT {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 2rem 1.5rem 0 1.5rem;
  position: relative;
}
.swiper-slideT {
  padding: 0 2.5rem;
}
.client {
  /*   display: grid;
  grid-template-columns: 85px 1fr;
  gap: 1rem; */
  align-items: center;
}
.profil-pic {
  width: 100%;
}
.client h4 {
  text-transform: capitalize;
  font-weight: 500;

  margin-bottom: 0.3rem;
  font-size: 1.03rem;
}
.client h5 {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 400;
}
.swiper-slide .text {
  display: block;
  margin: 1.5rem 0;
  line-height: 32px;
}

.swiper-pagination-bullet {
  background-color: rgb(47, 47, 223);
  width: 7px;
  height: 7px;

  cursor: pointer;
  opacity: 0.3;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  width: 12px;
  height: 12px;
}
.testimonial-titles {
  padding-left: 5rem;
}
.testimonial-titles > * {
  color: #fff;
}
.background-section {
  width: 100vw;
  max-width: 75rem;
  height: calc(100% + 60px);
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(calc(-50% + 60px));
  border-bottom-left-radius: 60px;
  background: linear-gradient(55deg, black 20%, gray 20%);
  z-index: -1;
}
.background-section .person2 {
  height: 350px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 12;
}
.social-icon {
  transition: 0.45s;
}
.social-icon:hover {
  transform: translateY(-40%);
}
@media (max-width: 1350px) {
  .background-section {
   display: none;
  }
}

@media (max-width: 1050px) {
  #hero .img-fluid {
    max-height: 450px;
  }
  .testimonial {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .glass {
    background: rgba(19, 18, 18, 0.2); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the glassmorphism look */
    padding: 20px; /* Add some padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
  }
}

@media (max-width: 550px) {
  #hero {
   
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
  }
  .swiperT {
    width: 100%;
    height: 300px;
    background-color: white;
    border: none;

    padding: 2rem 1rem 0 1rem;
  }
  #services .card-img-top {
    height: 300px;
    
  }
}
